html {
  background-color: #bcd;
}
#bio {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}  
#edu {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#workExp {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#goals {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#end {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  text-align: center;
}