html {
  background-color: #bcd;
}
#bio {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}  
#edu {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#workExp {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#goals {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#end {
  color:mintcream;
  text-align: center;
  line-break:loose;
  background-color: teal; 
  border: 20px white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  text-align: center;
}

#topten {
  font-weight: bold;
  color: white;
  text-align: center;
  border: 2mm solid teal;
  background-color: midnightblue;
  bottom: 190px;
  position:fixed;
  width: 98.8%;
}

ol {
  text-align: center;
  border: 2mm solid teal;
  background-color: midnightblue;
  color: white;
  bottom: 0px;
  position: fixed;
  width: 97.22%;
}